/*Menú Catalogo*/

.menuCatalogo {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.menuCatalogo a {
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-weight: bold;
    word-break: break-all;
}

.menuCatalogo a:hover {
    color: #9e092c;
}
  
.menuCatalogo .botonCerrar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
    cursor: pointer;
}
  
@media screen and (max-height: 450px) {
    .menuCatalogo {padding-top: 15px;}
    .menuCatalogo a {font-size: 18px;}
}

.pestannaCategorias{
	font-size: 30px;
  	cursor: pointer;
  	background: #ECE9E6;
  	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  	background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  	position: fixed;
}

.pestannaCategorias:hover{
	color: #9e092c;
}